.App {
  text-align: center;
  display: inline-block;
  padding: 20px;
}



.title1 {
  font-family: Menlo;
  display: grid;
  font-size: large;
  color: whitesmoke;
  border: black 3px;
  margin-bottom: 4px;
  padding: 4px;
  size: 100px;
  background-color: slategray;
  height: border-box;
}

.list1 {
  border: orange 3px;
}


