.App {
  text-align: left;
}

.App-header {
  background-color: #5490b6;
  min-height: 100vh;
  display: block;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title1 {
  font-size: large;
  color: whitesmoke;
}


